[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/doctest/doctest.git
[submodule "vendor/minhook"]
	path = vendor/minhook
	url = https://github.com/TsudaKageyu/minhook.git
